@import "components/variables";

.paths {
  padding: 1rem;
  padding-bottom: 0;
  max-width: $max-width;
  margin: auto;
}
.container {
  max-width: $max-width;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 25rem;
  padding: 2rem 1rem;
  grid-gap: 1.5rem;
  .sidebar {
    padding: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: min-content;
    border-radius: 0.5rem;
    box-shadow: $shadow1;
    .rating {
      font-size: 1.05em;
      svg {
        transform: translateY(0.15em);
      }
    }
    .seller {
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      img {
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .details {
      display: grid;
      grid-gap: 0.5rem;
      .price {
        display: block;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        grid-gap: 5px;
        .currentPrice {
          font-weight: 500;
          font-size: 1.2rem;
        }
        .originalPrice {
          text-decoration: line-through;
        }
      }
    }
    .actions {
      display: flex;
      grid-gap: 0.5rem;
    }
  }
  .images {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 0.5rem;
    min-width: 35rem;
    max-height: 35rem;
    .thumbnails {
      display: grid;
      grid-auto-rows: min-content;
      grid-gap: 0.5rem;
      max-height: calc(100vh - 5rem);
      overflow: auto;
      padding-right: 0.5rem;
      border-radius: 0.5rem;
      img {
        cursor: pointer;
        border-radius: 0.5rem;
        object-fit: cover;
        height: 5rem;
        width: 5rem;
        &.inView {
          border: 5px solid $primary-color;
        }
      }
    }
    .mainImg {
      display: flex;
      img {
        margin: auto;
        max-width: 100%;
        max-height: 40rem;
      }
    }
  }
  .content {
    display: grid;
    grid-gap: 1rem;
    .ribbon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 10px;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      grid-gap: 1.25rem;
    }
  }
  .description {
    box-shadow: $shadow1;
    border-radius: 0.5rem;
    overflow: hidden;
    grid-column: 1 / 3;
    .descriptionContent {
      padding: 1.5rem;
    }
  }
  .reviews {
    grid-column: 1 / 3;
    display: grid;
    grid-gap: 1rem;
    .reviewForm {
      border: 1px solid $grey2;
      padding: 1rem;
      border-radius: 0.5rem;
      display: grid;
      grid-gap: 1rem;
      background: $light-grey;
      .ratingStars {
        div {
          grid-gap: 0;
          label {
            color: $yellow;
            border: none;
            padding: 0;
            font-size: 1.5em;
            &.selected {
              background: none;
              color: $yellow;
              & ~ * {
                color: $grey2;
              }
            }
            &:hover {
              color: $yellow;
              & ~ * {
                color: $grey2;
              }
            }
          }
        }
      }
      .btns {
        display: flex;
        justify-content: flex-end;
      }
    }
    .allReviews {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 2rem;
      .summary {
        grid-column: 1 / 3;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        font-weight: 500;
        svg {
          transform: translateY(0.075em);
        }
      }
      .reviewWrapper {
        display: grid;
        grid-gap: 0.5rem;
        .customer {
          display: flex;
          grid-gap: 0.5rem;
          align-items: center;
          .profilePic {
            display: grid;
            place-items: center;
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            font-size: 2.75rem;
            background: $grey1;
            color: $grey2;
          }
          .detail {
            height: min-content;
            h6 {
              font-size: 1rem;
              font-weight: 500;
            }
            time {
              font-size: 0.9em;
              color: $grey2;
            }
          }
        }
      }
    }
  }
  .relatedProducts {
    grid-column: 1 / 3;
    .head {
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      margin: 1rem 0;
    }
    .products {
      display: grid;
      grid-gap: 1.25rem;
      grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
    .images {
      min-width: 5rem;
      grid-template-columns: 1fr;
      .thumbnails {
        grid-row: 2/3;
        display: flex;
        padding-bottom: 0.5rem;
        padding-right: 0;

        ::-webkit-scrollbar {
          height: 4px;
        }
      }
    }
    .description,
    .reviews,
    .relatedProducts {
      grid-column: 1/2;
    }
    .reviews {
      .allReviews {
        grid-template-columns: 1fr;
        .summary {
          grid-column: 1 / 2;
        }
      }
    }
  }
}
