.chatContainer {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  z-index: 10000;
  .chatTglBtn {
    font-size: 2rem;
    padding: 0.75rem;
    border-radius: 50%;
    color: white;
    border: 2px solid white;
    background: #81daf0;
    cursor: pointer;
    display: grid;
  }
  .chat {
    height: 28rem;
    background: white;
    width: 20rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(54, 54, 54, 0.363);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    position: relative;
    .clearBtn,
    .closeBtn {
      display: grid;
      border-radius: 50%;
      font-size: 1.7rem;
      /* position: absolute; */
      /* padding: 0.3rem; */
      border: none;
      cursor: pointer;
      color: white;
      background: none;
    }
    .header {
      background: #81daf0;
      padding: 0.5rem;
      display: flex;
    }
    .clearBtn {
      margin: auto;
      margin-left: 0;
    }
    .closeBtn {
      margin: auto;
      margin-right: 0;
    }
    .convoForm {
      height: 100%;
      display: grid;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      grid-auto-rows: min-content;
      overflow: auto;
      .label {
        font-size: 0.9rem;
        display: block;
        margin-bottom: 0.25rem;
      }
      .input {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid rgb(180, 180, 180);
      }
      .sources {
        display: flex;
        grid-gap: 0 1rem;
        flex-wrap: wrap;
        .err {
          flex-basis: 100%;
        }
      }
      .radioLabel {
        display: flex;
        align-items: center;
        grid-gap: 0.35rem;
        cursor: pointer;
      }
      .err {
        color: red;
        font-size: 0.9rem;
      }
      .topics {
        .list {
          display: flex;
          grid-gap: 0.5rem;
          flex-wrap: wrap;
          .topic {
            border: 1px solid rgb(192, 192, 192);
            padding: 0.3rem 0.8rem;
            border-radius: 0.3rem;
            cursor: pointer;
            &.active {
              background: #81daf0;
            }
          }
        }
      }
      .textarea {
        padding: 0.5rem;
        font-size: 1rem;
        min-height: 5rem;
        display: block;
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid rgb(180, 180, 180);
        resize: vertical;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
          "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
          "Helvetica Neue", sans-serif;
      }
      .btn {
        padding: 0.5rem;
      }
    }
    .messages {
      overflow: auto;
      display: flex;
      flex-direction: column-reverse;
      grid-gap: 1px;
      padding: 0.5rem 0.25rem;
      .placeholder {
        margin: auto;
        opacity: 0.7;
        font-style: italic;
      }
      .msg {
        height: min-content;
        padding: 0.5rem 0.8rem;
        background: rgb(235, 234, 234);
        max-width: 85%;
        border-radius: 0.75rem 0.75rem 0.75rem 0;
        &.user {
          background: #81daf0;
          margin: auto;
          margin-right: 0;
          border-radius: 0.75rem 0.75rem 0 0.75rem;
        }
      }
    }
    .chatForm {
      width: 100%;
      display: flex;
      border-top: 1px solid rgb(235, 234, 234);
      background: #81daf0;
      grid-gap: 0.5rem;
      padding: 0.5rem;
      .input {
        padding: 0.5rem;
        border: none;
        border-radius: 0.5rem;
        width: 100%;
        flex-basis: 100%;
      }
      .sendBtn {
        font-size: 1.2rem;
        padding: 0.35rem;
        cursor: pointer;
        border-radius: 0.3rem;
        border: none;
        display: grid;
      }
    }
  }
}

@media only screen and (min-width: 480px) {
  .convoForm::-webkit-scrollbar,
  .messages::-webkit-scrollbar,
  .textarea::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: rgba(hsl(192, 100%, 85%), 0.2);
    border-radius: 1rem;
  }
  .convoForm::-webkit-scrollbar-thumb,
  .messages::-webkit-scrollbar-thumb,
  .textarea::-webkit-scrollbar-thumb {
    background-color: #c4c4c4;
    border-radius: 1rem;
  }
}
