@import "components/variables";

.landingPage {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  .categories {
    padding: 1rem 2rem;
    display: flex;
    overflow-x: auto;
    grid-gap: 2rem;
    .category {
      display: grid;
      grid-gap: 0.5rem;
      justify-items: center;
    }
  }
  .shelf {
    // margin: auto;
    width: 100%;
    // max-width: $max_width;
    padding: 1rem 2rem;
    z-index: 1;
    .shelfHead {
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;
      // padding-bottom: 0.5rem;
      // border-bottom: 1px solid $grey1;
      // margin-bottom: 1rem;
      .shelfTitle {
        display: flex;
        grid-gap: 1rem;
        align-items: center;
      }
      .more {
        display: flex;
        align-items: center;
        grid-gap: 10px;
        // color: $primary-color-dark1;
        font-weight: 500;
        svg {
          transform: translateY(1px);
          font-size: 1.3em;
        }
      }
    }
    .content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-column-gap: 1.5rem;
      grid-row-gap: 2rem;
      .seller {
        border-radius: 0.5rem;
        overflow: hidden;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
        background: white;
        .sellerBenner {
          height: 6rem;
          width: 100%;
          object-fit: cover;
        }
        .sellerDetail {
          display: flex;
          padding: 0.5rem 1rem;
          padding-top: 0;
          margin-top: -0.6rem;
          grid-gap: 1rem;
          align-items: center;
          .sellerProfilePic {
            height: 58px;
            width: 58px;
            border-radius: 50%;
            padding: 2px;
            border: 1px solid rgba(0, 0, 0, 0.12);
            background: white;
            position: relative;
            svg {
              border-radius: 50%;
              background: white;
              position: absolute;
              bottom: 0;
              right: 0;
              text {
                font-weight: 600;
              }
            }
            img {
              display: grid;
              border-radius: 50%;
              object-fit: cover;
              height: 100%;
              width: 100%;
            }
          }
          .detail {
            margin-top: 0.5rem;
            display: grid;
            height: min-content;
            a {
              font-weight: 600;
              font-size: 14px;
            }
            .usdc {
              font-size: 12px;
              color: $text_grey;
            }
          }
        }
      }
      &.horizontal {
        max-width: calc(100vw - 4rem - 10px);
        border-radius: 1rem;
        display: flex;
        grid-gap: 1.5rem;
        overflow-x: auto;
        // width: 100%;
        flex: 0 0 2em;
        & > div {
          width: 300px;
          flex-shrink: 0;
        }
      }
    }
    &.explore {
      .more {
        .devider {
          height: 1.5rem;
          width: 1px;
          background: #d5d5d5;
        }
      }
      .filters {
        align-items: center;
        display: flex;
        grid-gap: 0.5rem;
        font-size: 14px;
        .chip {
          border-radius: 4px;
          padding: 0.4rem 0.75rem;
          border: 1px solid #d5d5d5;
          cursor: pointer;
          &.selected {
            background-color: $text_black;
            color: white;
            border-color: $text_black;
          }
        }
      }
    }
  }
  .shelfPlaceholder {
    display: grid;
    place-items: center;
    max-height: 10rem;
    button {
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      svg {
        font-size: 1.5rem;
      }
    }
  }
  .loading {
    display: grid;
    place-items: center;
    max-height: 10rem;
    font-size: 3rem;
    color: $primary-color;
  }
}

.countdown {
  display: flex;
  grid-gap: 2px;
  text-align: center;
  span {
    min-width: 26px;
    background: $text-black;
    color: white;
    font-weight: 500;
    padding: 2px 5px;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 480px) {
  .landingPage {
    .shelf {
      padding: 1rem;
      .shelfHead {
        padding: 0.5rem 0;
      }
      .content {
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1rem;
        &.horizontal {
          max-width: calc(100vw - 2rem);
          grid-gap: 1rem;
          & > div {
            width: 170px;
          }
        }
      }
    }
  }
}
