$primary-color: #7adea8;
$primary-color-dark1: #5cb083;
$primary-color-dark2: #378259;
$primary-color-dark3: #1d5437;

$white: #fff;
$grey1: rgb(236, 236, 236);
$grey2: rgb(108, 108, 108);
$grey3: rgb(57, 57, 57);

$comp-color: #eb4f39;
$comp-color-dark1: #be3f2e;
$comp-color-dark2: #9d3021;
$comp-color-dark3: #6c2319;

$green: #68ad03;
$red: #c00208;
$orange: #fb8433;
$yellow: #f6d304;
$blue: #0473d6;

$comp-grey: #f2f2f2;

$gold: #cfb675;
$black: #21150c;
$text-black: #242424;
$text-gray: #767676;
$max-width: 1400px;
