$primary-color: #febd69;
$primary-color-dark1: #b49543;
$primary-color-dark2: #826e3b;
$primary-color-dark3: #4b4128;

$white: #fff;
$light-grey: rgb(250, 250, 245);
$grey1: rgb(236, 236, 236);
$grey2: rgb(153, 152, 152);
$grey3: rgb(57, 57, 57);
$grey4: rgb(32, 32, 32);

$comp-color: #eb4f39;
$comp-color-dark1: #be3f2e;
$comp-color-dark2: #9d3021;
$comp-color-dark3: #6c2319;

$green: #68ad03;
$red: #c00208;
$orange2: rgb(235, 144, 40);
$orange: #fb8433;
$yellow: #f6d304;
$blue: #007185;

$comp-grey: #f2f2f2;

$black: #21150c;
$text-black: #242424;
$text-grey: #767676;
$max-width: 1800px;

$shadow1: 0 0 10px rgba(0, 0, 0, 0.15);
