@import "components/variables";

.paths {
  grid-column: 1 / -1;
}
.container {
  // max-width: $max-width;
  // margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
  &.sidebarOpen {
    grid-template-columns: min-content 1fr;
  }
  padding: 1rem;
  grid-gap: 1.5rem;
  .sidebar {
    position: sticky;
    top: 0;
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: min-content;
    border-radius: 0.5rem;
    .clearFilters {
      width: 17rem;
      button {
        width: 100%;
        color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 0.5rem;
        border: 1px solid $orange;
        background: white;
        svg {
          font-size: 1.4em;
        }
      }
    }
    .section {
      width: 17rem;
      border-radius: 0.5rem;
      .head {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        svg {
          font-size: 1.5rem;
        }
      }
      .sectionContent {
        display: grid;
        grid-gap: 1rem;
        padding: 0.75rem;
        .filterList {
          label,
          input {
            cursor: pointer;
          }
        }
        ul {
          display: grid;
          grid-gap: 0.5rem;
          li {
            display: flex;
            align-items: center;
            grid-gap: 0.5rem;
          }
        }
      }
    }
    .categorySection {
      .categories {
        padding: 1rem;
        padding-top: 0.75rem;
        display: grid;
        grid-gap: 0.5rem;
        li {
          .subcategories {
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            display: grid;
            grid-gap: 0.3rem;
          }
        }
      }
    }
    .backToCategories {
      cursor: pointer;
      display: flex;
      grid-gap: 0.5rem;
      p {
        display: flex;
        align-items: center;
        grid-gap: 0.3rem;
      }
    }
  }
  .sidebarToggle {
    display: none;
  }
  .content {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: min-content 1fr;
    max-width: 100vw;
    .ribbon {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      grid-gap: 10px;
    }
    .products {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 330px));
      grid-gap: 1.25rem;
      grid-auto-rows: min-content;
      .placeholder {
        margin: 3rem auto;
        grid-column: 1/-1;
      }
    }
    .loading {
      padding: 2rem 1rem;
      display: flex;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr !important;
    grid-template-rows: min-content 1fr;
    .sidebar {
      position: relative;
      .clearFilters {
        width: 100%;
      }
      .section {
        width: 100%;
      }
    }
    .sidebarToggle {
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      justify-content: space-between;
      svg {
        font-size: 1.75em;
      }
    }
    .content {
      .products {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
