.categories {
  padding: 1rem 2rem;
  display: flex;
  overflow-x: auto;
  grid-gap: 2rem;
  height: max-content;
  .category {
    display: grid;
    grid-gap: 0.5rem;
    justify-items: center;
  }
}
