@import "components/variables";

.footer {
  margin-top: 4rem;
  background: #232f3e;
  color: white;
  position: sticky;
  top: 100%;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  .wrapper {
    padding: 0 0.5rem;
    margin: auto;
    max-width: $max-width;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    padding-bottom: 1rem;
    .links {
      min-width: 10rem;
      h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26.6px;
      }
      font-size: 14px;
      line-height: 21px;
      display: grid;
      grid-gap: 1rem;
      grid-auto-rows: min-content;
      &.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        li:first-child {
          grid-column: 1/-1;
        }
      }
    }
  }
  .branding {
    padding-top: 1rem;
    border-top: 1px solid $grey3;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.5rem;
    img {
      height: 4rem;
      width: 4rem;
    }
    //   width: 269px;
    //   height: 74px;
    // svg {
    // }
  }
  .social {
    .social_icons {
      color: $grey4;
      font-size: 1.4rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    .wrapper {
      flex-direction: column;
    }
  }
}
