@import "components/variables";

.footer {
  margin-top: 4rem;
  background: $primary-color;
  position: sticky;
  top: 100%;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  .wrapper {
    padding: 0 0.5rem;
    margin: auto;
    max-width: $max-width;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 1.5rem;
    .branding {
      display: flex;
      align-items: center;
      grid-gap: 0.5rem;
      img {
        height: 5rem;
        width: 5rem;
      }
      //   width: 269px;
      //   height: 74px;
      // svg {
      // }
    }
    .links {
      h4 {
        font-size: 20px;
        font-weight: 700;
        line-height: 26.6px;
      }
      font-size: 14px;
      line-height: 21px;
      display: grid;
      grid-gap: 1rem;
      grid-auto-rows: min-content;
    }
  }
  .social {
    .social_icons {
      color: $grey4;
      font-size: 1.4rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1rem;
    }
  }
  .watermark {
    z-index: -1;
    display: grid;
    position: absolute;
    img {
      height: 14rem;
      width: 14rem;
    }
    bottom: -2rem;
    left: -2rem;
    opacity: 0.2;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    .wrapper {
      flex-direction: column;
    }
  }
}
