@import "components/variables";

.productThumb {
  position: relative;
  z-index: 1;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 0.4rem;
  overflow: hidden;
  .thumbnailWrapper {
    overflow: hidden;
    aspect-ratio: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
    .thumbnail {
      a {
        display: block;
        aspect-ratio: 1;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    object-fit: cover;
    display: grid;
  }
  .productDetail {
    grid-gap: 0.4rem;
    padding: 0.5rem 0.4rem;
    font-size: 14px;
    background: white;
    color: $grey3;
    display: grid;
    h4 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: black;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
      &:hover {
        color: $orange;
      }
    }
    .productSeller {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      .productFavorite {
        margin: auto;
        margin-right: 0;
        align-self: flex-end;
        display: flex;
        align-items: center;
        grid-gap: 5px;
      }
      .details {
        display: grid;
        grid-gap: 0.5rem;
      }
    }
    .price {
      color: black;
      display: block;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      grid-gap: 5px;
      .currentPrice {
        font-weight: 500;
        font-size: 1.2rem;
      }
      .originalPrice {
        text-decoration: line-through;
      }
    }
    .rating {
      display: flex;
      align-items: center;
      font-size: 1.1em;
      .value {
        font-weight: 500;
      }
      .stars {
        color: $orange;
        svg {
          font-size: 1em;
        }
      }
      position: relative;
      grid-gap: 4px;
      .chev {
        color: $grey2;
      }
      .reviewCount {
        color: #007185;
      }
      &:hover {
        .reviewCount {
          color: $orange;
        }
      }
    }
    .whatsappBtn {
      display: grid;
      border: none;
      background: none;
      font-size: 1.5em;
      color: #25d366;
      cursor: pointer;
    }
  }
}

.productThumbOld {
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  .thumbnail {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    display: grid;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .productDetail {
    border-radius: 0 0 0.5rem 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    padding: 0.7rem;
    padding-bottom: 1.2rem;
    font-size: 14px;
    background: white;
    .productSeller {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      .productFavorite {
        margin: auto;
        margin-right: 0;
        align-self: flex-end;
        display: flex;
        align-items: center;
        grid-gap: 5px;
      }
      .details {
        display: grid;
        grid-gap: 0.5rem;
      }
    }
    .devider {
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.05);
      margin: 0.25rem 0;
    }
    .price {
      display: block;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      grid-gap: 5px;
      .currentPrice {
        font-weight: 500;
        font-size: 1.2rem;
      }
      .originalPrice {
        text-decoration: line-through;
      }
    }
    .rating {
      color: $grey2;
      .lit {
        color: $yellow;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .productThumb {
    .productDetail {
      flex-direction: column;
    }
  }
}
