@import "components/variables";

.productThumb {
  position: relative;
  z-index: 1;
  .thumbnailWrapper {
    overflow: hidden;
    aspect-ratio: 1;
    .thumbnail {
      a {
        display: block;
        aspect-ratio: 1;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    border-radius: 1rem;
    object-fit: cover;
    display: grid;
  }
  .productDetail {
    grid-gap: 0.3rem;
    padding: 0.5rem 0;
    font-size: 14px;
    background: white;
    color: $grey3;
    display: flex;
    .left {
      flex: 1;
      display: grid;
    }
    .right {
      display: grid;
      justify-content: flex-end;
      grid-auto-rows: min-content;
    }
    h4 {
      grid-column: 1/2;
      grid-row: 1/2;
      color: black;
    }
    .productSeller {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      .productFavorite {
        margin: auto;
        margin-right: 0;
        align-self: flex-end;
        display: flex;
        align-items: center;
        grid-gap: 5px;
      }
      .details {
        display: grid;
        grid-gap: 0.5rem;
      }
    }
    .price {
      color: black;
      display: block;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      grid-gap: 5px;
      .currentPrice {
        font-weight: 500;
        font-size: 1.2rem;
      }
      .originalPrice {
        text-decoration: line-through;
      }
    }
    .rating {
      grid-column: 1/2;
      grid-row: 1/2;
      justify-content: flex-end;
      display: flex;
      align-items: center;
      font-size: 1.2em;
      margin: auto;
      margin-right: 0;
      svg {
        font-size: 1.1em;
        margin-top: 0.18em;
      }
      color: $grey2;
      .lit {
        color: $yellow;
      }
      position: relative;
      // .reviewCount {
      //   width: max-content;
      //   background: white;
      //   padding: 0.5rem;
      //   border-radius: 0.5rem;
      //   position: absolute;
      //   bottom: calc(100% + 10px);
      //   left: 50%;
      //   transform: translateX(-50%);
      //   filter: drop-shadow($shadow1);
      //   display: none;
      //   &::before {
      //     content: "";
      //     display: block;
      //     border: 7px solid transparent;
      //     border-bottom: 0;
      //     border-top: 10px solid white;
      //     position: absolute;
      //     bottom: -10px;
      //     left: 50%;
      //     transform: translateX(-50%);
      //   }
      // }
      .reviewCount {
        background: white;
        position: absolute;
        width: 100%;
        height: 100%;
        text-align: center;
        display: none;
      }
      &:hover {
        .reviewCount {
          display: block;
        }
      }
    }
    .whatsappBtn {
      display: grid;
      margin: auto;
      margin-right: 0;
      border: none;
      background: none;
      font-size: 1.5em;
      color: #25d366;
      cursor: pointer;
    }
  }
}

.productThumbOld {
  position: relative;
  z-index: 1;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  .thumbnail {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    display: grid;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .productDetail {
    border-radius: 0 0 0.5rem 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    padding: 0.7rem;
    padding-bottom: 1.2rem;
    font-size: 14px;
    background: white;
    .productSeller {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      .productFavorite {
        margin: auto;
        margin-right: 0;
        align-self: flex-end;
        display: flex;
        align-items: center;
        grid-gap: 5px;
      }
      .details {
        display: grid;
        grid-gap: 0.5rem;
      }
    }
    .devider {
      width: 100%;
      height: 1px;
      background: rgba(0, 0, 0, 0.05);
      margin: 0.25rem 0;
    }
    .price {
      display: block;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      grid-gap: 5px;
      .currentPrice {
        font-weight: 500;
        font-size: 1.2rem;
      }
      .originalPrice {
        text-decoration: line-through;
      }
    }
    .rating {
      color: $grey2;
      .lit {
        color: $yellow;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .productThumb {
    .productDetail {
      flex-direction: column;
    }
  }
}
