@import "components/variables";

.productThumb {
  position: relative;
  z-index: 1;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 0.4rem;
  // overflow: hidden;
  .bestSellerTag {
    position: absolute;
    top: 0;
    background: rgb(230, 105, 3);
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    padding-right: 1.5rem;
    clip-path: polygon(0 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
  }
  .thumbnailWrapper {
    overflow: hidden;
    aspect-ratio: 1;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .thumbnail {
      a {
        display: block;
        aspect-ratio: 1;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
    object-fit: cover;
    display: grid;
  }
  .productDetail {
    grid-gap: 0.4rem;
    padding: 0.5rem 0.4rem;
    font-size: 14px;
    background: white;
    color: $grey3;
    display: grid;
    h4 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: black;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
      &:hover {
        color: $orange;
      }
    }
    .productSeller {
      display: flex;
      align-items: center;
      grid-gap: 5px;
      img {
        height: 20px;
        width: 20px;
        object-fit: cover;
        border-radius: 50%;
      }
      .productFavorite {
        margin: auto;
        margin-right: 0;
        align-self: flex-end;
        display: flex;
        align-items: center;
        grid-gap: 5px;
      }
      .details {
        display: grid;
        grid-gap: 0.5rem;
      }
    }
    .price {
      color: black;
      display: block;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      grid-gap: 5px;
      .currentPrice {
        font-weight: 500;
        font-size: 1.2rem;
      }
      .originalPrice {
        text-decoration: line-through;
      }
    }
    .rating {
      display: flex;
      align-items: center;
      font-size: 1.1em;
      .value {
        font-weight: 500;
      }
      .stars {
        color: $orange;
        svg {
          font-size: 1em;
        }
      }
      position: relative;
      grid-gap: 4px;
      .chev {
        color: $grey2;
      }
      .reviewCount {
        color: #007185;
      }
      &:hover {
        .reviewCount {
          color: $orange;
        }
      }
      &:hover {
        .breakdown {
          display: block;
        }
      }
      .breakdown {
        width: max-content;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        filter: drop-shadow(0 0 1px $grey2) drop-shadow($shadow1);
        background: white;
        position: absolute;
        bottom: 150%;
        display: none;
        &::before {
          content: "";
          display: block;
          border: 7px solid transparent;
          border-bottom: 0;
          border-top: 10px solid white;
          position: absolute;
          bottom: -10px;
          left: 13%;
        }
        .subtitle {
          margin-top: 0.25rem;
          margin-bottom: 0.75rem;
          font-size: 0.9em;
        }
        .title {
          font-weight: 400;
          display: flex;
          align-items: center;
          grid-gap: 0.5rem;
          .stars {
            color: $orange;
            svg {
              font-size: 1.2em;
            }
          }
          span {
            color: black;
            // margin-left: 6px;
          }
        }
        .graph {
          display: grid;
          grid-gap: 0.75rem;
          font-size: 0.9em;
          li {
            display: grid;
            align-items: center;
            grid-gap: 0.85rem;
            grid-template-columns: 3rem 10rem 2rem;
            color: #007185;
            .bar {
              border-radius: 4px;
              flex: 1;
              background: $grey1;
              position: relative;
              height: 20px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              .fill {
                border-radius: 4px;
                display: block;
                height: 100%;
                background: $orange;
              }
            }
            .percent {
              text-align: right;
            }
          }
        }
      }
    }
    .whatsappBtn {
      display: grid;
      border: none;
      background: none;
      font-size: 1.5em;
      color: #25d366;
      cursor: pointer;
    }
  }
}

@media only screen and (max-width: 480px) {
  .productThumb {
    .productDetail {
      flex-direction: column;
    }
  }
}
