@import "nprogress.scss";
@import "components/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: 0, 180, 216;
  --green: rgb(34, 189, 99);
  --red: rgb(189, 34, 60);
  --chat-width: 22rem;
}

.rdw-editor-wrapper * {
  box-sizing: revert;
  padding: revert;
  margin: revert;
  list-style: revert;
}

.rdw-editor-main {
  height: max-content !important;
}

@font-face {
  font-family: "amazon ember";
  src: url(/assets/amazon_ember.ttf);
}

html,
body {
  font-family: "amazon ember", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  #__next {
    main {
      display: grid;
      min-height: calc((var(--vh) * 100));
      grid-template-rows: max-content 1fr max-content;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style: none;
}
.dynamicPage {
  main {
    * {
      box-sizing: revert;
      padding: revert;
      margin: revert;
    }
  }
}

input[type="checkbox"] {
  height: 18px;
  width: 18px;
}

button {
  &.clear {
    display: flex;
    border: none;
    outline: none;
    background: none;
    &:hover {
      background: $light-grey;
    }
  }
  &.btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    justify-content: center;
    &.primary {
      background: $primary-color;
      &:active {
        background: $primary-color-dark1;
      }
    }
    &.secondary {
      background: $yellow;
    }
    &.small {
      width: max-content;
    }
    &.whatsapp {
      display: flex;
      align-items: center;
      width: max-content;
      grid-gap: 0.25rem;
      border: 1px solid #25d366;
      svg {
        font-size: 1.2em;
        color: #25d366;
      }
    }
    &.loading {
      background: $grey1;
      color: $grey1;
      &::before,
      &::after {
        content: "";
        display: block;
        height: 0.6em;
        width: 0.6em;
        background: $grey2;
        position: absolute;
        left: 50%;
        border-radius: 3px;
        transform: translateX(-50%);
        animation-timing-function: cubic-bezier(
          0.79,
          0.01,
          0.22,
          0.96
        ) !important;
      }
      &::before {
        // display: none;
        animation: loading_before 1s infinite;
      }
      &::after {
        // background: blue;
        animation: loading_after 1s infinite;
      }
    }
    &.fullWidth {
      flex-basis: 100%;
      width: 100%;
    }
  }
}
@keyframes loading_before {
  0% {
    transform: translateX(-50%) scale(1);
  }
  25% {
    transform: translateX(-150%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}
@keyframes loading_after {
  0% {
    transform: translateX(-50%);
  }
  25% {
    transform: translateX(100%) scale(1);
  }
  75% {
    transform: translateX(-150%) scale(1);
  }
  100% {
    transform: translateX(-50%);
  }
}

.heroGlobal {
  .react-multi-carousel-track {
    align-items: center;
  }
  .react-multi-carousel-list {
    overflow: visible !important;
  }
  .react-multi-carousel-dot {
    align-items: center;
    transform: translateY(-1rem);
    li {
      height: min-content !important;
    }
    button {
      border: none;
      margin-right: 1rem;
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
    }
    &.react-multi-carousel-dot--active {
      button {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
  .react-multiple-carousel__arrow {
    z-index: 10;
    border-radius: 0;
    height: 100%;
    width: 4rem;
    opacity: 0;
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    &:hover {
      opacity: 1;
    }
  }

  .react-multiple-carousel__arrow--right {
    right: 0;
  }
  .react-multiple-carousel__arrow--left {
    left: 0;
  }
}

.productCardThumbGlobal {
  &:hover {
    .react-multiple-carousel__arrow {
      opacity: 1;
    }
    .react-multi-carousel-dot {
      button {
        opacity: 1;
      }
    }
  }
  .react-multiple-carousel__arrow {
    z-index: 10;
    &::before {
      font-size: 0.8rem;
      color: rgba(0, 0, 0, 0.8);
      font-weight: bold;
    }
    display: grid;
    place-items: center;
    min-height: 0.2rem;
    min-width: 0.2rem;
    height: 1.75rem;
    width: 1.75rem;
    opacity: 0;
    background: rgba(252, 252, 252, 0.78);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.24);
    &:hover {
      background: rgba(252, 252, 252, 0.78);
      transform: scale(1.1);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.24);
    }
    &.react-multiple-carousel__arrow--left {
      &::before {
        transform: translate(-2px, 0);
      }
    }
    &.react-multiple-carousel__arrow--right {
      &::before {
        transform: translate(2px, 0);
      }
    }
  }
  .react-multi-carousel-dot {
    align-items: center;
    transform: translateY(-1rem);
    li {
      height: min-content !important;
    }
    button {
      opacity: 0;
      border: none;
      margin-right: 0.5rem;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.2);
    }
    &.react-multi-carousel-dot--active {
      button {
        background: rgba(255, 255, 255, 0.7);
      }
    }
  }
}

.privateRouteFallback {
  display: grid;
  place-items: center;
  .content {
    display: grid;
    place-items: center;
    .icon {
      display: grid;
      font-size: 5rem;
    }
  }
}

.reactSelect {
  width: 100%;
  &:focus-within {
    border-color: $primary-color;
  }
  &.err {
    border-color: red;
  }
  &.reactSelect--is-disabled {
    background: rgb(235, 235, 235);
  }
  border: 1px solid #b7b7b7;
  border-radius: 4px;
  .reactSelect__control {
    display: flex;
    height: min-content;
    background: white;
    border-radius: 4px;
    .reactSelect__value-container {
      padding: 5px 7px;
      min-height: 30px;
    }
    .reactSelect__single-value,
    .reactSelect__input-container {
      align-items: center;
      max-height: 24px;
      padding: 0 !important;
      margin: 0;
      grid-column: 1/2;
      grid-row: 1/2;
      font-size: 13.5px !important;
      color: black !important;
      min-width: 10rem;
    }
    .reactSelect__indicators {
      .reactSelect__indicator {
        color: rgba(0, 0, 0, 0.8);
        padding: 6px;
      }
    }
    .reactSelect__placeholder {
      font-size: 13px;
    }
    .reactSelect__indicator-separator {
      display: none;
    }
    .reactSelect__menu {
      z-index: 100000000000000000 !important;
      .react-select__menu-list {
        box-shadow: none;
        .react-select__option {
          padding: 10px;
        }
      }
    }
  }
  &.hideMultipleValue {
    .reactSelect__clear-indicator,
    .reactSelect__multi-value {
      display: none;
    }
  }
  &.readOnly {
    pointer-events: none;
    .reactSelect__control {
      background: #f5f4f4;
    }
  }
}

.subtitle1 {
  font-size: 14px;
  color: $grey2;
  font-style: italic;
}

#portal,
#prompt {
  position: fixed;
  height: max-content;
  width: max-content;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-items: center;
  margin: auto;
  pointer-events: none;
  max-height: calc((var(--vh) * 100));
  & > * {
    pointer-events: all;
    grid-column: 1/2;
    grid-row: 1/2;
  }
}

.modalBackdrop {
  height: calc((var(--vh) * 100));
  width: 100vw;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: all;
}
.modal {
  pointer-events: all;
  z-index: 10;
  background: white;
  max-height: calc((var(--vh) * 100) - 2rem);
  max-width: calc(100vw - 2rem);
  & ~ .modalBackdrop {
    z-index: 10;
    & ~ .modal {
      z-index: 10;
    }
  }
  position: relative;
  border-radius: 0.5rem;
  display: grid;
  overflow: auto;
  top: auto;
  left: auto;
  height: max-content;
  width: max-content;
  &.withHead {
    overflow: hidden;
    & > div:nth-child(2) {
      overflow: auto;
      max-height: calc((var(--vh) * 100) - (3rem + 36px));
      max-width: calc(100vw - 3rem);
    }
  }
  .head {
    border-radius: 0.5rem 0.5rem 0 0;
    font-weight: 600;
    border-bottom: 1px solid $grey2;
    padding: 0.25rem 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    .title {
      text-align: center;
      grid-column: 1/3;
      grid-row: 1/2;
    }
    button {
      z-index: 5;
      grid-column: 1/2;
      font-size: 1.5rem;
      grid-row: 1/2;
    }
  }
}

.promptBackdrop {
  height: calc((var(--vh) * 100));
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
}
.prompt {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  padding: 5px 2rem;
  padding-bottom: 2rem;
  border-radius: 0.5rem;
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 25rem;
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 2rem;
    color: #4f4f4f;
  }
  .content {
    display: grid;
    grid-gap: 1.3rem;
    .label {
      display: grid;
      justify-content: center;
      margin-bottom: -1rem;
      .svg {
        font-size: 3.75rem;
        font-weight: bold;
      }
      .promptLabel {
        font-size: 1.5rem;
        line-height: 0.5em;
      }
      &.confirmation {
        color: rgb(254, 183, 0);
      }
      &.information {
        color: $blue;
      }
      &.success {
        color: $green;
      }
      &._error {
        color: $red;
      }
    }
    p {
      overflow-wrap: anywhere;
    }
    .actions {
      justify-content: center;
      display: flex;
      grid-gap: 0.7rem;
      .no {
        filter: saturate(0);
        opacity: 0.7;
      }
    }
  }
}

.spinner {
  animation: spinner 1.5s cubic-bezier(0.14, 0.6, 0.98, 0.71) infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rdrDateRangePickerWrapper {
  .rdrDefinedRangesWrapper {
    display: none;
  }
  .rdrDateDisplayWrapper {
    .rdrDateDisplayItemActive {
      color: $primary-color;
    }
  }
  .rdrDays {
    button {
      z-index: 1;
      .rdrStartEdge,
      .rdrInRange,
      .rdrEndEdge {
        color: $primary-color-dark1 !important;
      }
      .rdrDayStartPreview,
      .rdrDayInPreview,
      .rdrDayEndPreview {
        border-color: $primary-color-dark1 !important;
      }
      &.rdrDayToday {
        span::after {
          background: $primary-color-dark2;
        }
      }
    }
  }
  &.multiple {
    .rdrDays {
      button {
        .rdrStartEdge,
        .rdrInRange,
        .rdrEndEdge {
          color: $orange !important;
        }
        .rdrDayStartPreview,
        .rdrDayInPreview,
        .rdrDayEndPreview {
          border-color: $orange !important;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba($primary-color, 0.2);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb {
  background-color: $primary-color;
  border-radius: 1rem;
}
