@import "components/variables";

.container {
  max-width: $max-width;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 25rem;
  padding: 2rem 0.5rem;
  grid-gap: 1.5rem;
  .summary {
    padding: 1.5rem;
    display: grid;
    grid-gap: 1rem;
    grid-auto-rows: min-content;
    border-radius: 0.5rem;
    box-shadow: $shadow1;
    .detail {
      display: flex;
      justify-content: space-between;
    }
  }
  .forms {
    box-shadow: $shadow1;
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    grid-gap: 0.5rem;
    form {
      display: grid;
      grid-gap: 1rem;
      .contact,
      .address {
        h3 {
          grid-column: 1 / 3;
        }
        display: grid;
        grid-gap: 0.5rem 1rem;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  .products {
    box-shadow: $shadow1;
    padding: 1rem;
    display: grid;
    border-radius: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.25rem;
    .product {
      img {
        max-height: 6rem;
        max-width: 6rem;
        object-fit: contain;
      }
      display: flex;
      grid-gap: 0.5rem;
    }
  }
}
